<!DOCTYPE html>
<html lang="en">
<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</header>

<button type="button" class="btn btn-success"
            data-toggle="modal" data-target="#mymodal">Add New Dish
    </button>

<!-- Add Item Modal -->
<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Z-Predica</h4>
            </div>
            <div class="modal-body">
                <form action="{{url_for('views.add')}}" method="POST">
                    <div class="signup-form">
    
    
                        <form action="predica.html" method="POST">
                            <h2>Please provide the following details</h2>
                            <p>Please fill in this form to create create a Predica Profile</p>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col form-group">
                                        <select class="form-control" id="exampleFormControlSelect1" name="gender">
                                        <option  disabled selected>Select gender</option>
                                          <option>Female</option>
                                          <option>Male</option>
                                          <option>Prefer not to say</option>
                                        </select>
                                      </div>
                                </div>
                            <div class="row">
                                <div class="col form-group">
                                    <select class="form-control" id="exampleFormControlSelect1" name="race">
                                        <option value="" disabled selected>Select Race</option>
                                            <option>American Indian or Alaska Native</option>
                                            <option>Asian</option>
                                            <option>Black or African American</option>
                                            <option> Native Hawaiian or Other Pacific Islander</option>
                                            <option>White</option>
                                            <option>Prefer not to say</option>
                                    </select>
                                </div> 
                            </div>  
                            <div class="row">
                                <div class="col form-group">
                                    <input type="int" class="form-control" name="zip_code" placeholder="Zip Code" required="required">
                                </div> 
                            </div>   
                            <div class="row">
                                <div class="col form-group">
                                    <input type="float" class="form-control" name="household_income" placeholder="Annual household income (USD)" required="required">
                                </div> 
                            </div> 
                                
                            <div class=" row container">
                                <!-- <div class="row"> -->
                                    <form class="col form-group">
                                        <label>Select Occupation</label>
                                        <select  class="form-control select2 ">
                                           <option >Select</option> 
                                           <option class="text-secondary">Cashier</option> 
                                           <option>Teacher</option> 
                                           <option>SWE</option> 
                                           <option>Acountant</option> 
                                           <option>Farmer</option> 
                                        </select>
                                    </form>
                                 <!-- </div> -->
                            </div>
                            <script>
                                $('.select2').select2();
                            </script>
                            </div>
                                   
                            <div class="form-group">
                                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </>
                        
                        </form>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



</html>