{% extends 'base.html' %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <!-- Predica Logo -->
            <img src="static/img/logo.png" class="image-fluid" alt="Predica logo." />
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="index.html#dashboard">Dashboard</a></li>
                <li><a class="nav-link scrollto" href="{{url_for('views.logout')}}">Logout</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav>
        <!-- .navbar -->

        <!-- The Image Icon -->
        <a class="round-button-circle btn-getstarted scrollto" href="#">Profile</a>
    </div>
</header>
<!-- End Header -->

<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="col-xl-12 col-lg-12 text-center">
        <h1>Welcome {{ session['name'] }}!</h1>
    </div>
</section>

<main id="main">

    <!-- ======= Dashboard ======= -->
    <section id="dashboard" class="services">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Dashboard</h2>
                <p></p>
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="row gy-5 dashboard-row">
                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-1.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-bullseye"></i>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#predica-info">Predica Info</button>
                            <p>
                                Update your preidca info to see the your current housing security status.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Predica Info -->

                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-5.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-activity"></i>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#predica-score">Predica Score</button>
                            <p>
                                Check out your Predica score breakdown and analysis.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Predica Score -->

                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-2.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-broadcast"></i>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#predica-insights">Insights</button>
                            <p>
                                Insights generated based on your current predica score. Review insights to learn more.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Insights -->
            </div>

            <div class="row gy-5 dashboard-row">
                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-1.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-bullseye"></i>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#predica-alerts">Personalized Alerts</button>
                            <p>
                                Customize how you want to be notified about changes in your housing insecurity score.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Personalized Alerts -->

                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-5.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-activity"></i>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#predica-community">Community</button>
                            <p>
                                Connect with our community and learn more about how others are using Predica to improve
                                their lieves.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Community -->

                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-2.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-broadcast"></i>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#predica-notes">Notes and Archives</button>
                            <p>
                                Review your saved items.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Personal Notes -->
            </div>
        </div>
    </section>
    <!-- End Dashboard Section -->
</main>

<!-- ======= Modals ======= -->

<!-- Predica Info Modal-->
<div class="container">
    <div class="modal fade" id="predica-info" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <form action="{{url_for('views.simulate')}}" method="POST">
                        <p>Please fill in this form to create create a Predica Profile</p>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="form-group">
                                    <label>Years:</label>
                                    <input type="number" min="0" step="1" class="form-control" name="number_of_years"
                                        value="10">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label>Gender:</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="gender">
                                        <option value="" disabled selected>select</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                        <option>Prefer not to say</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label>Race:</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="race">
                                        <option value="" disabled selected>select</option>
                                        <option>American Indian or Alaska Native</option>
                                        <option>Asian</option>
                                        <option>Black or African American</option>
                                        <option> Native Hawaiian or Other Pacific Islander</option>
                                        <option>White</option>
                                        <option>Prefer not to say</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label>Zip Code:</label>
                                    <input type="text" class="form-control" name="zip_code" required="required">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label>Annual household income (USD):</label>
                                    <input type="float" class="form-control" name="household_income"
                                        required="required">
                                </div>
                            </div>

                            <div class="row">
                                <!-- <div class="row"> -->
                                <div class="col form-group">
                                    <label>Occupation:</label>
                                    <input type="text" class="form-control" name="occupation"
                                        required="required">
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-check-label"><input type="checkbox" required="required"> I accept the
                                <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div id="save-loader" class="loader hide-loader"></div>
                </div>
            </div>
        </div>
    </div>
<!-- Predica Score Modal -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="predica-score" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Predica Score Breakdown and Analysis</h4>
                </div>
                <div class="modal-body">
                    {% if session['score'] %}
                    {% if session['score'] < 36 %} <p>You're in the Unsafe Zone</p>
                        <ul>
                            <li>How we got the score</li>
                            <li>Implications
                                <ul>
                                    <li>You have to work on developing your housing security profile</li>
                                </ul>
                            </li>
                        </ul>
                        {% elif session['score'] > 35 and session['score'] < 60 %} <p>You're in the Low Risk Zone</p>
                            <ul>
                                <li>How we got the score</li>
                                <li>Implications
                                    <ul>
                                        <li>Need to maintain or improve your housing security score.</li>
                                        <li>How to maintain and improve your score.</li>
                                    </ul>
                                </li>
                            </ul>
                            {% else %}
                            <p>You're in the Safe Zone</p>
                            <ul>
                                <li>How we got the score</li>
                                <li>Implications
                                    <ul>
                                        <li>You are doing a great job</li>
                                        <li>How to maintain and improve your score</li>
                                    </ul>
                                </li>
                            </ul>
                            {% endif %}
                            {% else %}
                            <p>No Score to show - update your details.</p>
                            {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- Insights Modal -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="predica-insights" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Insights</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            Projections
                        </li>
                        <li>
                            Future housing stats
                        </li>
                        <li>Investing in housing security</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<!-- Personalized Alerts Modal -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="predica-alerts" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Personalized Alerts.</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>My Alerts
                            <ul>
                                <li>Year 1</li>
                                <li>Year 2</li>
                                <li>Year 3</li>
                                <li>...</li>
                            </ul>
                        </li>
                        <li>Add Alert</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

<!-- Community Modal -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="predica-community" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Community</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>All Communities</li>
                        <li>My Communities</li>
                        <li>Messages</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- Notes and Saved Items Modal -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="predica-notes" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notes and Saved Items</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Notes</li>
                        <li>Saved Insights</li>
                        <li>Predica Score History</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End #main -->
    {% endblock %}