{% extends 'base.html' %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <!-- Predica Logo -->
            <img src="static/img/logo.png" class="image-fluid" alt="Predica logo." />
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a class="nav-link scrollto" href="index.html#dashboard">Dashboard</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav>
        <!-- .navbar -->

        <!-- The Image Icon -->
            <b-avatar variant="success" text="AB" class="mr-3"></b-avatar>
        <a class="round-button-circle btn-getstarted scrollto" href="index.html#about">AB</a>
    </div>
</header>
<!-- End Header -->

<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="col-xl-12 col-lg-12 text-center">
        <h1>Welcome, Arnold!</h1>
    </div>
</section>

<main id="main">

    <!-- ======= Dashboard ======= -->
    <section id="dashboard" class="services">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Dashboard</h2>
                <p></p>
            </div>

            <div class="row gy-5 dashboard-row">
                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-1.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-bullseye"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Predica Score</h3>
                            </a>
                            <p>
                                We use your data together with current data trends in the
                                housing and job sector to predict your housing security. We
                                seek to give you an approximation of where you stand given
                                your current situation.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Predica Score -->

                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-5.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-activity"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Insights</h3>
                            </a>
                            <p>
                                Our goal is not just to give you an approximate score, but we also seek to give you
                                actionable steps and
                                insights that can help you stay informed about your future and how you can prepare for
                                it.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Insights -->

                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-2.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-broadcast"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Personalized Alerts</h3>
                            </a>
                            <p>
                                We give you the power to decide how and when you would like to receive notifications
                                about changes in
                                your predica score for a specific period in a specific area.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Personalized Alerts -->
            </div>

            <div class="row gy-5 dashboard-row">
                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-1.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-bullseye"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Predica Score</h3>
                            </a>
                            <p>
                                We use your data together with current data trends in the
                                housing and job sector to predict your housing security. We
                                seek to give you an approximation of where you stand given
                                your current situation.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Predica Score -->

                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-5.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-activity"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Insights</h3>
                            </a>
                            <p>
                                Our goal is not just to give you an approximate score, but we also seek to give you
                                actionable steps and
                                insights that can help you stay informed about your future and how you can prepare for
                                it.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Insights -->

                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="service-item">
                        <div class="img">
                            <img src="static/img/services-2.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="bi bi-broadcast"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Personalized Alerts</h3>
                            </a>
                            <p>
                                We give you the power to decide how and when you would like to receive notifications
                                about changes in
                                your predica score for a specific period in a specific area.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Personalized Alerts -->
            </div>
        </div>
    </section>
    <!-- End Dashboard Section -->
</main>

<!-- ======= Modals ======= -->

<!-- TODO: add modals for the dashboard tiles. -->
<div id="predica-modal" class="modal fade" role="dialog"></div>

<!-- End #main -->
{% endblock %}
